<ion-header>
  <ion-toolbar color="light" class="toolbar-custom">
    <!-- Botón para regresar -->
    <ion-buttons slot="start">
      <ion-button (click)="goToMenu()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="titulo-con-imagen">
      <ion-title class="titulo-centrado">Escanear QR</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="camera-preview"></div>
</ion-content>
