<ion-header>
  <ion-toolbar color="light">
    <div class="titulo-con-imagen">
      <ion-title class="titulo-centrado">QR Generador</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <!-- Botón para regresar al menú, estilo botón azul como Generar QR -->
  <ion-button expand="block" class="boton-generar" style="background-color: #1b2236; margin-bottom: 20px;" (click)="goToMenu()">
    <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
    Volver al Menú
  </ion-button>

  <!-- Contenedor de la cámara para escanear QR -->
  <div id="camera-preview" style="width: 100%; height: calc(100% - 80px);"></div>
</ion-content>
