.boton-generar {
  height: 60px;
  font-size: 18px;
  border-radius: 12px;
  background-color: #1b2236; /* azul vibrante */
  color: #ffffff;            /* texto blanco */
  --background: #1b2236;     /* también necesario para Ionic */
  --color: #ffffff;
}

.swal2-container {
  z-index: 99999 !important;
}

/* Opcional: si quieres centrar o dar estilo al video */
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

video {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.video-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

video {
  border-radius: 12px;
  max-width: 100%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.BotonColor{
  background-color: #1b2236; margin-bottom: 20px;
}
.logo-qr {
  height: 2em;     
  width: 2em;      
  object-fit: cover;
  margin-right: 1rem;
}

.text-box {
  background-color: #f0f4f8; /* fondo suave y agradable */
  color: #1a1a1a;           /* letras oscuras para buen contraste */
  padding: 20px;
  border-radius: 12px;       /* bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sombra sutil */
  max-width: 500px;          /* ancho máximo */
  margin: 20px auto;         /* centrado horizontal */
  font-family: Arial, sans-serif;
  line-height: 1.6;          /* mejora la legibilidad */
}