<app-cabecera></app-cabecera>

<ion-content class="ion-padding" fullscreen>


  <ion-button expand="block" class="boton-generar BotonColor" (click)="goToMenu()">
    <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
    Volver al Menú
  </ion-button>


  <div class="button-row">
    <ion-button class="boton-generar BotonColor2" (click)="EscanearQrEnVivo()" *ngIf="!ContenidoQrTexto">
      <img src="assets/img/camera.png" alt="Logo QR" class="logo-qr" />
      Iniciar Escaneo
    </ion-button>

    <ion-button class="boton-generar BotonColor4" (click)="NuevaSolicitudEscaneo()" *ngIf="ContenidoQrTexto">
      <img src="assets/img/add.png" alt="Logo QR" class="logo-qr" />
      Nuevo Escaneo
    </ion-button>

    <ion-button class="boton-generar BotonColor3" (click)="cargarImagen($event)">
      <img src="assets/img/inbox.png" alt="Logo Cargar" class="logo-qr" />
      Cargar Imagen
    </ion-button>

    <input type="file" accept="image/*" #fileInput hidden (change)="leerQrImagen($event)">
  </div>


<div *ngIf="MostrarEnfoque" class="scanner-container">
        <video #videoElement autoplay playsinline class="scanner-video" [controls]="false" preload="auto"></video>
        <canvas #canvasElement hidden></canvas>
        <div class="overlay">
            <img src="assets/img/enfoque.png" alt="Marco de Enfoque QR" class="focus-image" />
        </div>
    </div>
   

  <div class="text-box" *ngIf="ContenidoQrTexto">
    <a *ngIf="esURL(ContenidoQrTexto)" [href]="ContenidoQrTexto" target="_blank">
      {{ ContenidoQrTexto }}
    </a>
    <p *ngIf="!esURL(ContenidoQrTexto)">
      {{ ContenidoQrTexto }}
    </p>
  </div>


  <ion-button expand="block" class="boton-generar BotonColor espacio" (click)="copiarContenidoQr()"
    *ngIf="ContenidoQrTexto">
    <img src="assets/img/files.png" alt="Logo QR" class="logo-qr" />
    Copiar Texto
  </ion-button>


</ion-content>


<app-footer></app-footer>