<ion-header style="margin-bottom: 50%;">
  <ion-toolbar color="light" class="toolbar-custom">
    <div class="titulo-con-imagen">
      <ion-title class="titulo-centrado">QR Generador</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding menu-content">
  <div class="menu-options-container">
    <div class="menu-option-container" (click)="goToGenerator()">
      <div class="circular-button">
        <ion-icon name="qr-code-outline"></ion-icon>
      </div>
      <ion-label>Generar QR</ion-label>
    </div>

    <div class="menu-option-container" (click)="goToScanner()">
      <div class="circular-button">
        <ion-icon name="scan-circle-outline"></ion-icon>
      </div>
      <ion-label>Escanear QR</ion-label>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar class="custom-tab-bar">
        <ion-tab-button (click)="goToScanner()" class="tab-button-left">
          <ion-icon name="scan-circle-outline"></ion-icon>
          <ion-label>Escanear</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="goToMenu()" class="center-button-container">
          <div class="center-button-circle">
            <img src="assets/img/qrlogo.jpg" alt="Logo" class="center-logo" />
          </div>
        </ion-tab-button>

        <ion-tab-button (click)="goToGenerator()" class="tab-button-right">
          <ion-icon name="qr-code-outline"></ion-icon>
          <ion-label>Generador</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>