.toolbar-degradado {
  --background: linear-gradient(135deg, #0d0d0d, #2c2c2c);
  --color: #f5f5f5;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.logo-qr {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  object-fit: cover;
}

.titulo-centrado {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f5f5f5;
}
