<app-cabecera></app-cabecera>

<ion-content id="main-content" class="ion-padding">

  <!-- Botón de regresar al menú -->
  <ion-button 
    expand="block"
    class="boton-generar sin-margen"
    (click)="goToMenu()">
    <ion-icon name="arrow-back" slot="start"></ion-icon>
    Regresar al Menú
  </ion-button>

  <!-- Botones de acción (pegar / borrar) -->
  <div class="botones-acciones">
    <ion-button expand="block" color="success" (click)="pegarTexto()">
      <img src="assets/img/paste.png" alt="Logo Cargar" class="logo-qr" />
    </ion-button>
    <ion-button expand="block" color="danger" (click)="limpiarCampos()">
     <img src="assets/img/bin.png" alt="Logo Cargar" class="logo-qr" />
     </ion-button>
  </div>

  <!-- Input QR -->
  <div class="input-container sin-margen">
    <ion-label position="stacked" color="danger">
      Escribe un texto o pega un enlace
    </ion-label>
    <ion-input [(ngModel)]="qrData" style="color: black;"></ion-input>
  </div>

  <!-- Colores -->
  <ion-item class="compact-item">
    <ion-label color="dark">Color</ion-label>
    <ion-input type="color" [(ngModel)]="colorDark" style="max-width: 60px;"></ion-input>
    <ion-label color="medium">Fondo</ion-label>
    <ion-input type="color" [(ngModel)]="colorLight" style="max-width: 60px;"></ion-input>
  </ion-item>

  <!-- Botón generar -->
  <ion-button expand="block" class="boton-generar sin-margen" (click)="generateQR()">
     <img src="assets/img/innovation.png" alt="Logo Cargar" class="logo-qr" />
      Generar QR
  </ion-button>

  <!-- Resultado -->
  <div *ngIf="qrImage" class="qr-generado">
    <img class="imgqr" [src]="qrImage" alt="QR Code" />
    <ion-button expand="block" class="boton-generar sin-margen" (click)="shareQR()">
        <img src="assets/img/share.png" alt="Logo Cargar" class="logo-qr" />
        Compartir QR
    </ion-button>
  </div>

</ion-content>
